@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<BasicComponent />
<BasicParameterComponent Message="This was passed as a parameter!" />
<NavLink href="MyOwnRoute">Click to go to this component!</NavLink>
<ParentComponent>
    <div>I am a child!</div>
</ParentComponent>
<ParentComponent>
    <BasicComponent />
</ParentComponent>
<AttributeSplatComponent />
<KeyedComponent />
<PartialClassComponent />
<BaseComponent />
<ConditionalComponent />
<CascadeParentComponent />
<TwoWayBindComponent />
<FormatStringComponent />
<LifecycleComponent />
<NavLink href="MyParams/4">This has a route with params</NavLink>
<NavLink href="MyParams">Same link, no params</NavLink>
<CodeNavigationComponent />
<BasicFormComponent />
<Counter/>
<CounterSubscriber/>
<AddTablePublisher/>
<AddTableSubscriber/>
<div>
    <NavLink href="counter">To the counter!</NavLink>
</div>
<ParentEventComponent ></ParentEventComponent>