@inherits BaseNotificationHandler<StateStore, FireButtonEvent>

<h3>CounterSubscriber</h3>


<p>Something happened @DateTime</p>

@code {
    public DateTime DateTime { get; set; }

    public override void HandleEvent(object sender, FireButtonEvent notification)
    {
        DateTime = notification.DateTime;
    }
}
