@inherits BaseNotificationHandler<FireButtonEvent>

<h3>CounterSubscriber</h3>


<p>Something happened @DateTime</p>

@code {
    public DateTime DateTime { get; set; }

    protected override void OnInitialized()
    {
        StateStore.EventHandler += HandleEvent;
    }


    public override void Dispose()
    {
        StateStore.EventHandler -= HandleEvent;
    }
}
